.big-text {
  position: relative;

  &__clear-button {
    position: absolute;
    top: 10px;
    right: 20px;
  }

  &__wrapper {
    align-items: center;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

  &__content {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
  }
}
