.message-container {
  @extend .column, .col-8, .tile;

  color: $primary-color;
  margin: 10px 5px;

  &.--unread {
    font-weight: bold;
  }

  &.--from-self {
    @extend .col-ml-auto;

    .message-content {
      margin-left: auto;
    }
  }

  &.--from-other {
    @extend .col-mr-auto;

    .message-content {
      margin-right: auto;
    }
  }

  &.--anonymous {
    color: $dark-color;
  }

  &.--evicted {
    color: $gray-color;
  }

  &.message-meta,
  &.message-initial-join {
    @extend .col-12;

    .message-content {
      text-align: center;
      width: 100%;
    }
  }

  .message-content {
    border: thin solid black;
  }
}
